.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .coming-soon-simple-card-wrapper {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    width: 688px;
    height: 106px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1024px) {
      width: 70%;
    }

    span {
      font-family: Manrope;
      font-size: 32px;
      font-weight: 600;
      line-height: 44px;
      letter-spacing: 0em;
      text-align: left;
      color: #BDBDBD;
    }
  }
}

