@import '../../../../scss/colors';

.card {
  width: 47%;
  height: 75px;
  background: $background-color;
  border: 1px solid #FFFFFF36;
  box-shadow: 0px 3px 7px rgba(19, 17, 26, 0.14);
  border-radius: 12px;
  background: linear-gradient(45.02deg, #6F86FF 0.88%, #B372CE 49.31%, #FF7586 100.87%);
  box-shadow: inset 0 100px 10px $background-color;
  position: relative;
  display: flex;

  .middle {
    position: absolute;
    left: -50px;
    top: 10px;
  }
  .large {
    position: absolute;
    left: 15px;
    top: 8px;
  }
  .small {
    position: absolute;
    left: -15px;
    top: -7px;
  }

  .data-wrapper {
    position: absolute;
    left: 85px;
    top: 12px;

    &-small {
      left: 65px;
    }
    
    .text {
      color: #B0BCD0;
      font-family: THICCCBOI;
      font-size: 13px;
      font-weight: 500;
      line-height: 5px;
      letter-spacing: 0em;
      text-align: left;

    }
  
    .value {
      color: #FFFFFF;
      font-family: THICCCBOI;
      font-weight: 500;
      letter-spacing: 0em;
      text-align: left;
    }
    
    .value-middle {
      @extend .value;
      line-height: 0px;
      font-size: 22px;
    }

    .value-large {
      @extend .value;
      font-size: 22px;
      line-height: 0px;
    }

    .value-small {
      @extend .value;
      line-height: 5px;
      font-size: 14px;
      line-height: 0px;
    }
  }
}

.card-small {
  background: #302C3F;
  box-shadow: none;
}
